<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-4">
    <div class="container">
        <a class="navbar-brand text-uppercase" href="{{ url_for('index') }}">
            <i class="bi bi-box-seam"></i> Inventory App
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#menu-toggle"
            aria-controls="menu-toggle" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="menu-toggle">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link {% if request.endpoint == 'index' %}active{% endif %}"
                        href="{{ url_for('index') }}">
                        <i class="bi bi-house-door-fill"></i> Home
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if request.endpoint == 'create_item' %}active{% endif %}"
                        href="{{ url_for('create_item') }}">
                        <i class="bi bi-plus-circle"></i> Add Item
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>